In [3]:
import pandas as pd

lista_de_mercado= pd.Series({
                  'carne':8500,
                  'pollo':7300,
                  'leche':2200,
                  'queso':3100,
                  'cebolla':2620,
                  'ajo': 1300,
                  'champiñones':4490,
                  'crema de leche':1200,
                  'mantequilla':1500,
                  'cilantro':700})
print(lista_de_mercado)

carne             8500
pollo             7300
leche             2200
queso             3100
cebolla           2620
ajo               1300
champiñones       4490
crema de leche    1200
mantequilla       1500
cilantro           700
dtype: int64

In [8]:
gasto_mensual= pd.DataFrame({
                'enero':[2000,1000,1200,3532,2749],
                'febrero':[2300,1200,1300,4545,2635],
                'marzo':[2400,1600,1400,2424,24362],
                'abril':[1000,600,600,3535,7362],
                'mayo':[4587,3455,2331,2424,8764]},index=['carne','pollo','leche','queso','cebolla'])

gasto_mensual

         enero  febrero  marzo  abril  mayo
carne     2000     2300   2400   1000  4587
pollo     1000     1200   1600    600  3455
leche     1200     1300   1400    600  2331
queso     3532     4545   2424   3535  2424
cebolla   2749     2635  24362   7362  8764

In [10]:
gasto_mensual[['marzo','febrero']]

         marzo  febrero
carne     2400     2300
pollo     1600     1200
leche     1400     1300
queso     2424     4545
cebolla  24362     2635

In [11]:
gasto_mensual['abril']

carne      1000
pollo       600
leche       600
queso      3535
cebolla    7362
Name: abril, dtype: int64